Install libraries

In [1]:
%pip install requests
%pip install pandas
%pip install numpy
%pip install scikit-learn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: requests in /home/vscode/.local/lib/python3.10/site-packages (2.31.0)
Requirement already satisfied: certifi>=2017.4.17 in /home/vscode/.local/lib/python3.10/site-packages (from requests) (2024.2.2)
Requirement already satisfied: idna<4,>=2.5 in /home/vscode/.local/lib/python3.10/site-packages (from requests) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /home/vscode/.local/lib/python3.10/site-packages (from requests) (2.2.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/vscode/.local/lib/python3.10/site-packages (from requests) (3.3.2)

[notice] A new release of pip is available: 23.0.1 -> 24.0
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/vscode/.local/lib/python3.10/site-packages (2.2.2)
Requirement already satisfied: tzdata>=2022.7 in /home/vscode/.local/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/vscode/.local/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: numpy>=1.22.4 in /home/vscode/.local/lib/python3.10/site-packages (from pandas) (1.26.4)
Requirement already satisfied: pytz>=2020.1 in /home/vscode/.local/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /home/vscode/.local/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.0.1 -> 24.0
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in /home/vscode/.local/lib/python3.10/site-packages (1.26.4)

[notice] A new release of pip is available: 23.0.1 -> 24.0
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scikit-learn in /home/vscode/.local/lib/python3.10/site-packages (1.4.2)
Requirement already satisfied: scipy>=1.6.0 in /home/vscode/.local/lib/python3.10/site-packages (from scikit-learn) (1.13.0)
Requirement already satisfied: numpy>=1.19.5 in /home/vscode/.local/lib/python3.10/site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/vscode/.local/lib/python3.10/site-packages (from scikit-learn) (3.5.0)
Requirement already satisfied: joblib>=1.2.0 in /home/vscode/.local/lib/python3.10/site-packages (from scikit-learn) (1.4.2)

[notice] A new release of pip is available: 23.0.1 -> 24.0
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [2]:
import requests
import pandas as pd
import numpy as np
from sklearn.cluster import DBSCAN

Get hourly weather data with ETL framework

In [3]:
parameters = {"ids": "KSBA",
              "format": "json",
              "taf": "false",
              "hours": 1000}
url = "https://aviationweather.gov/api/data/metar"
data = requests.get(url, params = parameters).json()
df = pd.json_normalize(data)
df.head()

,metar_id,icaoId,receiptTime,obsTime,reportTime,temp,dewp,wdir,wspd,wgst,...,vertVis,metarType,rawOb,mostRecent,lat,lon,elev,prior,name,clouds
0,539358857,KSBA,2024-05-02 20:58:10,1714683180,2024-05-02 21:00:00,18.3,13.3,230,7,NaN,...,NaN,METAR,KSBA 022053Z 23007KT 9SM FEW020 18/13 A2990 RM...,1,34.4241,-119.842,2,3,"Santa Barbara Muni, CA, US","[{'cover': 'FEW', 'base': 2000}]"
1,539336838,KSBA,2024-05-02 19:58:04,1714679580,2024-05-02 20:00:00,17.8,13.3,160,7,NaN,...,NaN,METAR,KSBA 021953Z 16007KT 6SM HZ SCT018 18/13 A2992...,0,34.4241,-119.842,2,3,"Santa Barbara Muni, CA, US","[{'cover': 'SCT', 'base': 1800}]"
2,539315950,KSBA,2024-05-02 18:58:20,1714675980,2024-05-02 19:00:00,16.7,12.8,150,7,NaN,...,NaN,METAR,KSBA 021853Z 15007KT 6SM HZ FEW017 17/13 A2993...,0,34.4241,-119.842,2,3,"Santa Barbara Muni, CA, US","[{'cover': 'FEW', 'base': 1700}]"
3,539292927,KSBA,2024-05-02 17:58:07,1714672380,2024-05-02 18:00:00,16.7,12.8,160,6,NaN,...,NaN,METAR,KSBA 021753Z 16006KT 9SM SCT017 17/13 A2994 RM...,0,34.4241,-119.842,2,3,"Santa Barbara Muni, CA, US","[{'cover': 'SCT', 'base': 1700}]"
4,539271619,KSBA,2024-05-02 16:58:19,1714668780,2024-05-02 17:00:00,15.6,12.8,150,5,NaN,...,NaN,METAR,KSBA 021653Z 15005KT 8SM OVC012 16/13 A2994 RM...,0,34.4241,-119.842,2,3,"Santa Barbara Muni, CA, US","[{'cover': 'OVC', 'base': 1200}]"

Convert observation time and temperature into UTC and Fahrenheit units

In [4]:
df["UTC"] = pd.to_datetime(df["obsTime"], unit = "s")
df["Temperature"] = np.round(np.array(df["temp"])*1.8 + 32, 0)
df = df.drop(["clouds","obsTime","temp"], axis = 1)
df.head()

,metar_id,icaoId,receiptTime,reportTime,dewp,wdir,wspd,wgst,visib,altim,...,metarType,rawOb,mostRecent,lat,lon,elev,prior,name,UTC,Temperature
0,539358857,KSBA,2024-05-02 20:58:10,2024-05-02 21:00:00,13.3,230,7,NaN,9,1012.6,...,METAR,KSBA 022053Z 23007KT 9SM FEW020 18/13 A2990 RM...,1,34.4241,-119.842,2,3,"Santa Barbara Muni, CA, US",2024-05-02 20:53:00,65.0
1,539336838,KSBA,2024-05-02 19:58:04,2024-05-02 20:00:00,13.3,160,7,NaN,6,1013.3,...,METAR,KSBA 021953Z 16007KT 6SM HZ SCT018 18/13 A2992...,0,34.4241,-119.842,2,3,"Santa Barbara Muni, CA, US",2024-05-02 19:53:00,64.0
2,539315950,KSBA,2024-05-02 18:58:20,2024-05-02 19:00:00,12.8,150,7,NaN,6,1013.6,...,METAR,KSBA 021853Z 15007KT 6SM HZ FEW017 17/13 A2993...,0,34.4241,-119.842,2,3,"Santa Barbara Muni, CA, US",2024-05-02 18:53:00,62.0
3,539292927,KSBA,2024-05-02 17:58:07,2024-05-02 18:00:00,12.8,160,6,NaN,9,1014.0,...,METAR,KSBA 021753Z 16006KT 9SM SCT017 17/13 A2994 RM...,0,34.4241,-119.842,2,3,"Santa Barbara Muni, CA, US",2024-05-02 17:53:00,62.0
4,539271619,KSBA,2024-05-02 16:58:19,2024-05-02 17:00:00,12.8,150,5,NaN,8,1014.0,...,METAR,KSBA 021653Z 15005KT 8SM OVC012 16/13 A2994 RM...,0,34.4241,-119.842,2,3,"Santa Barbara Muni, CA, US",2024-05-02 16:53:00,60.0

In [5]:
x = np.array(df["Temperature"]).reshape(-1, 1)

In [6]:
clusters = DBSCAN(eps = 1, min_samples = 24).fit_predict(x)

In [7]:
df = df[["UTC","Temperature"]].assign(Anomaly = clusters)
df.head()

                  UTC  Temperature  Anomaly
0 2024-05-02 20:53:00         65.0        0
1 2024-05-02 19:53:00         64.0        0
2 2024-05-02 18:53:00         62.0        0
3 2024-05-02 17:53:00         62.0        0
4 2024-05-02 16:53:00         60.0        0

In [8]:
df.loc[(df["Anomaly"] == -1),:]

                    UTC  Temperature  Anomaly
29  2024-05-01 23:53:00         66.0       -1
33  2024-05-01 19:53:00         66.0       -1
71  2024-04-30 07:53:00         70.0       -1
72  2024-04-30 06:53:00         72.0       -1
73  2024-04-30 05:53:00         73.0       -1
74  2024-04-30 05:22:00         73.0       -1
80  2024-04-29 23:53:00         66.0       -1
81  2024-04-29 22:53:00         69.0       -1
82  2024-04-29 21:53:00         67.0       -1
83  2024-04-29 20:53:00         66.0       -1
84  2024-04-29 19:53:00         66.0       -1
92  2024-04-29 12:53:00         49.0       -1
93  2024-04-29 11:53:00         48.0       -1
94  2024-04-29 10:53:00         50.0       -1
115 2024-04-28 13:53:00         50.0       -1
117 2024-04-28 11:53:00         49.0       -1
129 2024-04-27 23:53:00         70.0       -1
130 2024-04-27 22:53:00         70.0       -1
131 2024-04-27 21:53:00         69.0       -1
132 2024-04-27 20:53:00         68.0       -1
133 2024-04-27 19:53:00         67.0       -1
134 2024-04-27 18:53:00         68.0       -1
135 2024-04-27 17:53:00         67.0       -1
136 2024-04-27 16:53:00         67.0       -1
140 2024-04-27 12:53:00         50.0       -1
153 2024-04-26 23:53:00         67.0       -1
154 2024-04-26 22:53:00         68.0       -1
155 2024-04-26 21:53:00         70.0       -1
156 2024-04-26 20:53:00         74.0       -1
157 2024-04-26 19:53:00         72.0       -1
158 2024-04-26 18:53:00         71.0       -1
159 2024-04-26 17:53:00         67.0       -1
190 2024-04-25 12:53:00         49.0       -1
191 2024-04-25 11:53:00         49.0       -1
192 2024-04-25 10:53:00         49.0       -1
193 2024-04-25 09:53:00         49.0       -1
194 2024-04-25 08:53:00         50.0       -1
213 2024-04-24 13:53:00         48.0       -1
214 2024-04-24 12:53:00         47.0       -1
215 2024-04-24 11:53:00         49.0       -1
216 2024-04-24 10:53:00         47.0       -1
217 2024-04-24 09:53:00         48.0       -1
218 2024-04-24 08:53:00         49.0       -1
219 2024-04-24 07:53:00         49.0       -1