Import Python libraries first

In [ ]:
%pip install pandas
%pip install scipy
%pip install matplotlib
%pip install seaborn

In [ ]:
import pandas as pd
from scipy.cluster.hierarchy import linkage

In [ ]:
from scipy.cluster.hierarchy import dendrogram
from matplotlib import pyplot as plt
import seaborn as sns

# Create DataFrame object

ETL framework to get data

In [ ]:
temps = [["Bakersfield", 78,  53, 65.5],
        ["Burbank", 77, 55, 66],
        ["Fresno", 77,  51, 64],
        ["Long Beach", 74,  55, 64.5],
        ["Los Angeles", 70,  56, 63],
        ["Sacramento", 74,  48, 61],
        ["San Diego", 71,  57, 64],
        ["San Francisco", 66,  50, 58],
        ["Santa Barbara", 70,  49, 59.5]]
df = pd.DataFrame(temps, columns = ["Station", "High Temperature", "Low Temperature", "Average Temperature"])
df = df.set_index("Station")
df.head(10)

# Hierarchical clustering

## Create list objects for data

One dimension

In [ ]:
data_1d = list(zip(df["Average Temperature"].tolist()))
print(data_1d)

### Two dimensions

Convert pandas Series object from column in DataFrame object into list object

In [ ]:
df["Low Temperature"].tolist()

In [ ]:
df["High Temperature"].tolist()

Create zip object as an iterator of tuples to pair items together.

In [ ]:
zip(df["Low Temperature"].tolist(), df["High Temperature"].tolist())

In [ ]:
list(zip(df["Low Temperature"].tolist(), df["High Temperature"].tolist()))

In [ ]:
data_2d = list(zip(df["Low Temperature"].tolist(), df["High Temperature"].tolist()))
print(data_2d)

## Calculate distances

One dimension

In [ ]:
distances_1d = linkage(data_1d, method = "ward", metric = "euclidean")
print(distances_1d)

Two dimensions

In [ ]:
distances_2d = linkage(data_2d, method = "ward", metric = "euclidean")
print(distances_2d)

# Data Visualizations

Bar charts

In [ ]:
df["Average Temperature"].sort_values().plot.barh()
plt.title("Average temperatures by California city (degrees Fahrenheit)")
plt.show()