Import Python libraries first

In [1]:
%pip install pandas
%pip install scipy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/vscode/.local/lib/python3.10/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.22.4 in /home/vscode/.local/lib/python3.10/site-packages (from pandas) (1.26.4)
Requirement already satisfied: pytz>=2020.1 in /home/vscode/.local/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/vscode/.local/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in /home/vscode/.local/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /home/vscode/.local/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.0.1 -> 24.0
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scipy in /home/vscode/.local/lib/python3.10/site-packages (1.13.0)
Requirement already satisfied: numpy<2.3,>=1.22.4 in /home/vscode/.local/lib/python3.10/site-packages (from scipy) (1.26.4)

[notice] A new release of pip is available: 23.0.1 -> 24.0
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
from scipy.cluster.hierarchy import linkage

# Create DataFrame object

ETL framework to get data

In [3]:
temps = [["Bakersfield", 78,  53, 65.5],
        ["Burbank", 77, 55, 66],
        ["Fresno", 77,  51, 64],
        ["Long Beach", 74,  55, 64.5],
        ["Los Angeles", 70,  56, 63],
        ["Sacramento", 74,  48, 61],
        ["San Diego", 71,  57, 64],
        ["San Francisco", 66,  50, 58],
        ["Santa Barbara", 70,  49, 59.5]]
df = pd.DataFrame(temps, columns = ["Station", "High Temperature", "Low Temperature", "Average Temperature"])
df = df.set_index("Station")
df.head(10)

               High Temperature  Low Temperature  Average Temperature
Station
Bakersfield                  78               53                 65.5
Burbank                      77               55                 66.0
Fresno                       77               51                 64.0
Long Beach                   74               55                 64.5
Los Angeles                  70               56                 63.0
Sacramento                   74               48                 61.0
San Diego                    71               57                 64.0
San Francisco                66               50                 58.0
Santa Barbara                70               49                 59.5

# Hierarchical clustering

## Create list objects for data

One dimension

In [4]:
data_1d = list(zip(df["Average Temperature"].tolist()))
print(data_1d)

[(65.5,), (66.0,), (64.0,), (64.5,), (63.0,), (61.0,), (64.0,), (58.0,), (59.5,)]

### Two dimensions

Convert pandas Series object from column in DataFrame object into list object

In [5]:
df["Low Temperature"].tolist()

[53, 55, 51, 55, 56, 48, 57, 50, 49]

In [6]:
df["High Temperature"].tolist()

[78, 77, 77, 74, 70, 74, 71, 66, 70]

Create zip object as an iterator of tuples to pair items together.

In [7]:
zip(df["Low Temperature"].tolist(), df["High Temperature"].tolist())

In [8]:
list(zip(df["Low Temperature"].tolist(), df["High Temperature"].tolist()))

[(53, 78),
 (55, 77),
 (51, 77),
 (55, 74),
 (56, 70),
 (48, 74),
 (57, 71),
 (50, 66),
 (49, 70)]

In [9]:
data_2d = list(zip(df["Low Temperature"].tolist(), df["High Temperature"].tolist()))
print(data_2d)

[(53, 78), (55, 77), (51, 77), (55, 74), (56, 70), (48, 74), (57, 71), (50, 66), (49, 70)]

## Calculate distances

One dimension

In [10]:
distances_1d = linkage(data_1d, method = "ward", metric = "euclidean")
print(distances_1d)

[[ 2.          6.          0.          2.        ]
 [ 0.          1.          0.5         2.        ]
 [ 3.          9.          0.57735027  3.        ]
 [ 4.         11.          1.42886902  4.        ]
 [ 5.          8.          1.5         2.        ]
 [ 7.         13.          2.59807621  3.        ]
 [10.         12.          3.06186218  6.        ]
 [14.         15.         10.          9.        ]]

Two dimensions

In [11]:
distances_2d = linkage(data_2d, method = "ward", metric = "euclidean")
print(distances_2d)

[[ 4.          6.          1.41421356  2.        ]
 [ 0.          1.          2.23606798  2.        ]
 [ 2.         10.          3.51188458  3.        ]
 [ 5.          8.          4.12310563  2.        ]
 [ 3.          9.          4.39696865  3.        ]
 [ 7.         12.          7.14142843  3.        ]
 [11.         13.         11.10555417  6.        ]
 [14.         15.         14.2126704   9.        ]]